<p>Salut {{ user.name }} !</p>
<p>Comment vas-tu ?</p>
<p>
    Afin de pouvoir réaliser ton pack de coaching,
    j’ai besoin que tu complètes tes informations (renseignements, photos et mensurations) dans ton interface : 
    <a href="{{ url('initial', {'userId':user.userId}) }}" class="link">Lien</a>
</p>
<p>Merci d’avance et à bientôt !</p>
<p>David</p>