<p>Salut {{ result.pack.initial.name }} !</p>
<p>Comment vas-tu ?</p>
<p>
    Je n’ai pas reçu de réponse au formulaire pour réaliser ton bilan esthétique.
    Voici le lien : <a href="{{ url('results', {'resultId':result.id}) }}" class="link">Lien</a>

</p>
<p>Je compte sur toi pour répondre cette semaine avant mercredi midi s’il te plait.</p>
<p>Merci pour ta compréhension et à bientôt</p>
<p>David</p>