<p>Salut {{ result.pack.initial.name }} !</p>
<p>Comment vas-tu ? J’espère que tout va bien?</p>
<p>
    Je n’ai à ce jour toujours pas reçu de réponse au formulaire bilan de ton programme. Je compte sur toi
    pour répondre cette semaine avant jeudi midi s’il te plait.
    Voici le lien : <a href="{{ url('results', {'resultId':result.id}) }}" class="link">Lien</a>

</p>
<p>Le cas contraire, je serai contraint d’annuler ton pack de coaching.</p>
<p>Merci pour ta compréhension et à bientôt</p>
<p>David</p>