{% extends 'AppBundle:Emails:layout.html.twig' %}
{% block body %}
<tr>
    <td align="center" valign="top" id="templateBody">
        <!--[if gte mso 9]>
        <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
            <tr>
                <td align="center" valign="top" width="600" style="width:600px;">
        <![endif]-->
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
            <tr>
                <td valign="top" class="bodyContainer"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                        <tbody class="mcnTextBlockOuter">
                            <tr>
                                <td valign="top" class="mcnTextBlockInner">

                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextContentContainer">
                                        <tbody><tr>

                                                <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                    <p><span style="color:#333333"><span class="s1">{{ result.pack.initial.firstname }} {{ result.pack.initial.lastname }} a rempli son bilan : </span></span></p>
                                                    <p><a href="{{ url('results', {'resultId':result.id}) }}">Lien</a></p>
                                                </td>
                                            </tr>
                                        </tbody></table>

                                </td>
                            </tr>
                        </tbody>
                    </table></td>
            </tr>
        </table>
        <!--[if gte mso 9]>
        </td>
        </tr>
        </table>
        <![endif]-->
    </td>
</tr>

{% endblock %}