{% if app.user.id  is defined %}
        <form method="get" class="col s6" action="{{ path('reply', {'result_id':result_id}) }}" style="padding: 2%;"> 
            <div class="row z-depth-2">
                <h4>Répondre</h4>
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" name="text_reply"></textarea>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Envoyer
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
{% endif %}