{% extends 'base.html.twig' %}

{% block pageTitle %}CostaFitness : Bilan{% endblock %}
{% block headingTitle %}Bilan{% endblock %}
{% block pageClass %}initForm{% endblock %}

{% block body %}

<div class="confirmationMessage">
  <h2>MERCI !</h2>
    <p>Ton bilan m'a bien été transmis. Je regarde tes données de prêt et reviens vers toi rapidement.
        A bientôt !</p>

    <a href="http://www.davidcosta.fr" target="_blank" class="btn bigBtn">Retourner sur COSTAFITNESS.FR</a>
</div>

{% endblock %}
