{% extends 'base.html.twig' %}

{% block pageTitle %}CostaFitness : Bilan{% endblock %}
{% block headingTitle %}Bilan{% endblock %}
{% block pageClass %}initForm{% endblock %}

{% block body %}

    <div class="row valign-wrapper">
        <div class="row col s6">
            <h4>MERCI !</h4>
            <p>Ton bilan m'a bien été transmis. Je regarde tes données de prêt et reviens vers toi rapidement.
                A bientôt !</p>

            <a href="http://www.davidcosta.fr" target="_blank" class="btn">Retourner sur COSTAFITNESS.FR</a>&nbsp;<a href="{{ path('scale_index') }}" target="_blank" class="btn bigBtn">Accéder au barème des performances</a>
        </div>
    </div>

{% endblock %}
