{% extends 'base.html.twig' %}

{% block pageTitle %}CostaFitness : Bilan initial pack musculation{% endblock %}
{% block headingTitle %}Bilan Initial{% endblock %}
{% block pageClass %}initForm{% endblock %}

{% block body %}
 
        
        <div class="initFormSection">
            <h2>Informations générales</h2>
            <div class="content">
               <h3>Coordonnées</h3>


               <h3>Le sport et vous</h3>

               <h3>Vos objectifs - vos disponibilités</h3>

               <h3>Mensurations</h3>

               <h3>Compléments d'informations (uniquement pour suivi à distance)</h3>

               <h3>Divers</h3>

           </div> 
        </div>
        
        <div class="initFormSection">
            <h2>Votre alimentation actuelle</h2>
            <div class="content">
               <h3>Connaitre votre comportement alimentaire</h3>


               <h3>Votre alimentation actuelle</h3>

               
           </div> 
        </div>

    
{% endblock %}
