{% extends 'base.html.twig' %}

{% block pageTitle %}CostaFitness : Bilan initial pack musculation{% endblock %}
{% block headingTitle %}Bilan Initial{% endblock %}
{% block pageClass %}initForm{% endblock %}

{% block body %}

<div class="confirmationMessage">
  <h2>MERCI !</h2>
    <p>Ton bilan initial m'a bien été transmis. Je prépare ton pack et te transmet toutes les infos pour commencer ton entrainement rapidement.
        Bon courage !</p>

    <a href="http://www.davidcosta.fr" target="_blank" class="btn bigBtn">Retourner sur COSTAFITNESS.FR</a>
</div>

{% endblock %}
