{% extends 'base.html.twig' %}

{% block pageTitle %}CostaFitness : Bilan initial{% endblock %}
{% block headingTitle %}Bilan Initial{% endblock %}
{% block pageClass %}initForm{% endblock %}

{% set pack = initial.packs.first() %}

{% block body %}

<div class="confirmationMessage">
  <h2>MERCI !</h2>
  {% if pack.packType == 'themes' %}
    <p>Ton bilan initial m'a bien été transmis. Je prépare ton pack et te transmet toutes les infos pour commencer ton entrainement rapidement.
        Bon courage !</p>
  {% else %}
    <p>Ton bilan initial m'a bien été transmis, je te remercie! Je préparerai ton pack rapidement (entre 1 à 10 jours). Le suivi débutera le lundi qui suit l'envoi.
        Bon courage !</p>
  {% endif %}

    <a href="http://www.davidcosta.fr/blog/" target="_blank" class="btn bigBtn">Lire les conseils de David sur son blog</a>
</div>

{% endblock %}
