{% extends 'base.html.twig' %}

{% block body %}

    <ul class="collection with-header">
        <li class="collection-header"><h4>Liste des catégories</h4></li>
            {% for category in categories %}
                <li class="collection-item"><div>{{ category.display }}<a href="{{ path('category_edit', { 'id': category.id }) }}" class="secondary-content">Lier des exercices</a></div></li>
            {% endfor %}
    </ul>
    
{% endblock %}
