<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block pageTitle %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" media="all" href="/bundles/app/css/normalize.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/bundles/app/css/style.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/bundles/app/js/scripts.js" />
        <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% block pageClass %}{% endblock %}">
        <header>
            <img src="/bundles/app/images/logo.png">
            <h1>{% block headingTitle %}{% endblock %}</h1>
        </header>
        <main>
            
            {% block body %}{% endblock %}
            
        </main>
            <footer>
                <div class="copyright">
                    Copyright © CostaFitness 2016
                </div>
                
                <div class="links"><a href="http://www.davidcosta.fr" target="_blank" class="btn">Voir le site</a></div>
            </footer>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
