<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block pageTitle %}{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        {% block head %}{% endblock %}
        <link rel="stylesheet" type="text/css" media="all" href="/bundles/app/css/normalize.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/bundles/app/css/style.css" />
        <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script type="text/javascript" src="/bundles/app/js/jquery.fancybox.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="/bundles/app/css/jquery.fancybox.css" />

    </head>
    <body class="{% block pageClass %}{% endblock %}">
        <header>
            <img src="/bundles/app/images/logo.png">
            <h1>{% block headingTitle %}{% endblock %}</h1>
        </header>
        {% if app.user.id  is defined %}
            <nav>{{ knp_menu_render('AppBundle:Builder:mainMenu', {'depth': 2, 'currentAsLink': false}) }}</nav>
        {% endif %}
        <main>
            
            {% block body %}{% endblock %}
            
        </main>
            <footer>
                <div class="copyright">
                    Copyright © CostaFitness 2016
                </div>
                
                <div class="links"><a href="http://www.davidcosta.fr" target="_blank" class="btn">Voir le site</a></div>
            </footer>
        
        {% block javascripts %}
        <script type="text/javascript" src="/bundles/app/js/scripts.js"></script>
        {% endblock %}
    </body>
</html>
