{% extends 'base.html.twig' %}

{% block pageTitle %}CostaFitness : Liste des exercices{% endblock %}
{% block headingTitle %}Liste des exercices{% endblock %}
{% block pageClass %}exerciseList{% endblock %}

{% block body %}

    <ul class="collection with-header">
        <li class="collection-header"><h4>Exercices</h4></li>
            {% for exercise in exercises %}
                <li class="collection-item"><div>{{ exercise.name }}<a href="{{ path('exercise_show', { 'id': exercise.id }) }}" class="secondary-content"><i class="material-icons">visibility</i></a><a href="{{ path('exercise_edit', { 'id': exercise.id }) }}" class="secondary-content"><i class="material-icons">mode_edit</i></a></div></li>
            {% endfor %}
    </ul>

    <a href="{{ path('exercise_new') }}" class="btn">Créer un nouvel exercice</a>

{% endblock %}
