{% extends 'base.html.twig' %}

{% block pageTitle %}CostaFitness : création d'exercice {% endblock %}
{% block headingTitle %}Création d'exercice{% endblock %}
{% block pageClass %}exerciseList{% endblock %}

{% block body %}

    <aside>
        <a href="{{ path('exercise_index') }}" class="btn">Retour à la liste</a>

    </aside>

    <article class="exerciceModify">
        <header>Nouvel Exercice</header>

        <main>
            {{ form_start(form) }}
            {{ form_widget(form) }}

        </main>
        <footer>
            <input type="submit" value="Créer" class="btn" />
            {{ form_end(form) }}
        </footer>
    </article>




{% endblock %}
