{% extends 'base.html.twig' %}

{% block pageTitle %}CostaFitness : création d'exercice {% endblock %}
{% block headingTitle %}Création d'exercice{% endblock %}
{% block pageClass %}exerciseList{% endblock %}

{% block body %}
    <div class="row">
        <div class = "col s3">
            <h4>Nouvel Exercice</h4>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <p>
                <button type="submit" class="btn">Créer</button>
                <a href="{{ path('exercise_index') }}" class="btn">Retour à la liste</a>
            </p>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
