{% extends 'base.html.twig' %}

{% block pageTitle %}CostaFitness : Infos{% endblock %}
{% block headingTitle %}Infos{% endblock %}

{% block body %}
    <div class="row">
        <div class = "col s4">
            <h4>Infos</h4>
            {{ form_start(form) }}
            {{ form_widget(form.infos) }}
            <div class="submitContainer"><input type="submit" value="Enregistrer" class="btn"></div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}