/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 févr. 2016, 17:53:08
    Author     : TerrorTib
*/

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
}

/* HEADER */

header {
    background-color: #333;
    padding: 30px;
    text-align: center;
    box-shadow: 0 2px 30px rgba(0,0,0,0.5);
}

header img {
    margin: 0 auto;
    display:block;
}


header h1 {
    color: white;
    margin: 15px 0;
    font-weight: 100;
    display:inline-block;
    position:relative;
}

/* BODY */

main {
    margin: 60px auto;
    width: 80%;
    padding: 50px 0;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    overflow: auto;
    zoom: 1;
}

.halfElement {
    float: left;
    width: 46%;
    margin: 0 2%;
}

.thirdElement {
    width: 30%;
    float: left;
    margin: 0 1.5%;
}

/* FOOTER */
footer {
    padding: 20px 10%;
    margin: 0 auto;
    background: whitesmoke;
    font-size:0;
}

footer > div {
    width:50%;
    display:inline-block;
    font-size:14px;
}

footer .links {
    text-align:right;
}


/* FORMULAIRES */


.initFormSection h2 {
    color: white;
    font-weight: 100;
    background: #333;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 0;

}

.initFormSection .content {
    border:1px solid #333;
    overflow: auto;
    zoom: 1;
}
.initFormSection h3 {
    font-weight: 400;
    border-bottom: 1px solid #666;
    margin: 0 2%;
    padding: 15px 0;
    text-transform: uppercase;
    text-align: center;
    color: #c58408;
}

.questionContainer {
    width:96%;
    margin: 10px 2%;
}
textarea {
    resize: none;
    overflow: auto;
    border: 1px solid lightgrey;
    width: 98%;
    height: 80px;
}
/* TABLES */
td, table {
    border:none;
}

td {
        padding: 10px;
}
tr {
    border-bottom: 1px solid lightgrey;
}

tr:first-child {
        background: #333;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}

tr:first-child td {
    padding:20px;
}

a {
    color:black;
}

.btn {
    background-color: #c58408;
    border: 0px;
    color: #fff;
    padding: 9px 8px;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-size: 12px;
    font-weight: normal;
    text-decoration:none;
    display: inline-block;
}

.btn.bigBtn {
    padding: 15px 14px;
    font-size: 17px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.custom-input::-webkit-file-upload-button {
  visibility: hidden;
  width: 10px;
}
.custom-input::before {
  content: 'Choissisez votre photo';
  display: inline-block;
  background: #c58408;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 10pt;
  color:white;
}

.initFormSection .halfElement {
    margin-top:20px;
}

.initFormSection input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 0;
    margin-bottom: 15px;
    border-radius: 2px;
    border: 1px solid lightgrey;
}
.input-container {
    width:100%;
}
.submitContainer {
    display: block;
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 50px;
}

.photoUpload h3 {
    border:none;
        text-align: left;
    text-transform: none;
    color: #444;
    font-weight: 100;
}

.formSection {
    zoom: 1;
    overflow: auto;
}

select {width:100%;}

img {
    max-width:100%;
}

.confirmationMessage {
    text-align: center;
}

@media screen and (max-width : 900px) {
    .halfElement {
        width:96%;
    }
}

.small_input {
    width : 30% !important;
}